*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    background-color: rgb(37, 158, 26);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
