*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    background-color: rgb(37, 158, 26);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.example-wrapper {
    margin: 1em auto;
    width: 95%;
    font: 18px / 1.5 sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.btn-primary {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-delete {
    padding: 8px 16px;
    background-color: #e71414;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.article-card {
     background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 16px;
    margin: 20px auto;
    transition: transform 0.2s;
    width: 50%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    width: 20%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}


.article-card:hover {
    transform: scale(1.01);
}

.article-card h3 {
    font-size: 1.4em;
    margin-bottom: 8px;
}

.article-card p {
    margin: 6px 0;
    color: #333;
}

.article-card .image {
    margin: 10px 0;
    text-align: center;
}

.article-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 200px;
    object-fit: cover;
}

.resulat-recherche {
    display: flex;
    flex-direction: row;
}